@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 mt-5 font-weight-bold">App web en .NET MVC</h1>
    <img class="mt-5" src="e-intelligent.svg" alt="Logo E-Intelligence">
    <p class="mt-5">Prueba para e-intelligent realizada por Nacho Sáenz de Tejada.</p>
    <div class="d-flex flex-row justify-content-center align-items-center mt-4">        
        <a href="https://www.linkedin.com/in/nachosaenzdetejada" target="_blank">
            <img class="mr-2" style="width: 57px;" src="linkedin.png" alt="">
        </a>
        <a href="https://github.com/nachosdt" target="_blank">
            <img class="ml-2" style="width: 50px;" src="github.png" alt="">
        </a>
    </div>    
</div>
